.header {
    grid-area: header;

    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 576px) {
        gap: 20px;
    }

    &__home-link {
        @media (max-width: 576px) {
            padding: 15px !important;
            .btn__text {
                display: none;
            }
        }
    }
}
