.nav {
    border-radius: 10px 10px 0 0;
    overflow: hidden;

    &__list {
        display: none;
        &--menu {
            display: block;
            .nav__item-caption {
                background-color: #478dd5;
                color: #fff;

                font-weight: 500;
            }
        }

        &--submenu1 {
            display: none;
            .nav__item-caption {
                padding-left: 50px;

                color: #3e526a;
                font-weight: 400;

                background-color: rgba(#478dd5, 0.4);
            }
        }
        &--submenu2 {
            display: none;
            .nav__item-caption {
                padding-left: 78px;

                color: #3e526a;
                font-weight: 400;

                background-color: rgba(#478dd5, 0.25);
            }
        }
        &--submenu3 {
            display: none;
            .nav__item-caption {
                padding-left: 78px;

                color: #3e526a;
                font-weight: 400;

                background-color: rgba(#478dd5, 0.25);
            }
        }

        &--plain {
            display: none;

            font-weight: 400;
        }
    }

    &__item {
        &.active {
            & > .nav__item-caption .nav__item-icon {
                transform: rotate(180deg);
            }

            & > .nav__list {
                display: block;

                color: yellow;
            }
        }
    }

    &__item:first-child .nav__item-caption {
        border-radius: 0;
    }

    &__item-el {
        width: 100%;
        min-height: 45px;

        margin-bottom: 2px;

        padding: 14px 11px 14px 105px;
        background-color: rgba(#478dd5, 0.1);

        color: #3e526a;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item-caption {
        width: 100%;
        min-height: 45px;

        padding: 14px 11px 14px 21px;

        display: flex;
        justify-content: space-between;

        color: #3e526a;

        border-radius: 0;
    }

    &__item-icon {
        transition: 0.3s linear;
    }
}
