<aside class="sidebar">
    <picture>
        <source srcset="img/sidebar/faq.webp">
        <img src="img/sidebar/faq.jpg" class="sidebar__image">
    </picture>
    <nav class="nav">
        <ul class="nav__list nav__list--menu">
            <li class="nav__item">
                <div class="nav__item-caption">
                    Боты в телеграм

                    <img src="img/icons/chevron-down.svg" class="nav__item-icon" alt="">
                </div>
                <ul class="nav__list nav__list--submenu1">
                    <li class="nav__item">

                        <div class="nav__item-caption">
                            Боты магазины

                            <img src="img/icons/chevron-down.svg" class="nav__item-icon" alt="">

                        </div>
                        <ul class="nav__list nav__list--submenu2">
                            <li class="nav__item">

                                <div class="nav__item-caption">
                                    Способы оплат в ботах
                                    магазинах

                                    <img src="img/icons/chevron-down.svg" class="nav__item-icon" alt="">

                                </div>

                                <ul class="nav__list nav__list--plain">
                                    <li class="nav__item-el">
                                        Киви
                                    </li>
                                    <li class="nav__item-el">
                                        Юмани
                                    </li>
                                    <li class="nav__item-el">
                                        Юкасса
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item">

                                <div class="nav__item-caption">
                                    Товары

                                    <img src="img/icons/chevron-down.svg" class="nav__item-icon" alt="">
                                </div>

                                <ul class="nav__list nav__list--plain">
                                    <li class="nav__item-el">
                                        Как добавить товар
                                    </li>
                                    <li class="nav__item-el">
                                        Как удалить товар
                                    </li>
                                    <li class="nav__item-el">
                                        Как добавить картинку
                                        в товар
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item">

                        <div class="nav__item-caption">
                            Боты поддержки

                            <img src="img/icons/chevron-down.svg" class="nav__item-icon" alt="">
                        </div>

                        <ul class="nav__list nav__list--plain">
                            <li class="nav__item-el">
                                Тикеты
                            </li>
                            <li class="nav__item-el">
                                FAQ
                            </li>
                            <li class="nav__item-el">
                                Формы сбора информации
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav__item">
                <div class="nav__item-caption">
                    Рассылки

                    <img src="img/icons/chevron-down.svg" class="nav__item-icon" alt="">
                </div>
            </li>
        </ul>
    </nav>
</aside>